@font-face {
	font-family: "InterVariable";
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	src: url("./fonts/inter/InterVariable.ttf") format("truetype");
}

@font-face {
	font-family: "InterVariable";
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
	src: url("./fonts/inter/InterVariable-Italic.ttf") format("truetype");
}


